@{
    Layout = "_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">Мій профіль</p>
                    <ul class="menu-list">
                        <li><a href="@Url.Action("MyProfile", "Account")">Про мене</a></li>
                        <li><a href="@Url.Action("MyTeams", "Account")">Мої команди</a></li>
                        <li><a href="@Url.Action("MyInvitations", "Account")">Мої запити</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-10">
                @RenderBody()
            </div>
        </div>
    </div>
</section>