@model Cleverest.Mvc.ViewModels.AccountRegisterViewModel

<div class="columns" style="margin-top: 100px;">
    <div class="column is-4 is-offset-4">
        <div class="content">
            <h1 >Приєднуйся до CleverRest сьогодні.</h1>
            @Html.Partial("_Register", Model)
        </div>
    </div>
</div>




