@{
    ViewBag.Title = "Index";
}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-11 is-offset-1">
                <div class="columns">
                    <div class="column">
                        <div class="content">
                            <h1>Що таке CleverRest?</h1>
                            <p>
                                CleverRest - це інтелектуально-розважальне шоу для великої, азартної компанії. Питання в нашій грі складені так, що перемогти можуть не тільки справжні знавці і ерудити, а й просто спостережливі, винахідливі та кмітливі гравці!
                            </p>
                        </div>
                    </div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="column">
                            <div class="tile is-parent is-vertical is-8">
                                <article class="tile is-child box is-cleverest">
                                    @Html.Partial("../Account/_Login")
                                </article>
                                <article class="tile is-child box is-cleverest">
                                    @Html.Partial("../Account/_Register")
                                </article>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>