@{
    ViewBag.Title = "Index";
}

@Shared.HeroBlock("Правила", css: "is-success")

<section class="section">
    <div class="container">
        <div class="content">
            <div>
                <ul>
                    <li>Наша мета: зробити новий вид відпочинку після робочого дня, щоб змагалися між собою 50 команд одночасно.</li>
                    <li> Для того, щоб зіграти, вам потрібно зареєструватися. Таким чином, ми дізнаємося назву вашої команди, і кількість осіб (а, отже, зможемо розмістити вас з комфортом і з табличкою команди).</li>
                    <li>
                        У грі 7 турів по 7 запитань.
                        Тури 1, 4, 5 - текстові (вгадати термін, подія, явище, процес, перевести щось з інших мов, продовжити цитату, доповнити факт, здогадатися, про що йдеться за декількома фактами і т.п.).
                        Тур 2 - відгадайте фільм ( ведучий показує на екрані та одночасно зачитує короткий опис фільму, потрібно відгадати назву фільму )
                        Тур 3 - музичний (по озвученому фрагменту потрібно вгадати виконавця,саундтрек до відомих фільмів чи реклам, композитора, а іноді і автора слів або подія, якій була присвячена композиція).
                        Питання 1-6 турів демонструються на екрані приблизно хвилину, зачитуються ведучим. після закінчення яких листочок з відповідями здається.
                        Тур 6 - картинки ( перед початком туру ведучий оголошує умови )
                        Тур 7 - бліц. 10 простих і коротких запитань різних видів і жанрів зачитуються. На обдумування і запис на листочок дається ще 60 секунд
                    </li>
                    <li>Питань на енциклопедичні знання у нас майже немає. Майже всі питання беруться логікою, кмітливістю, протиріччям, від протилежного і т.п. Питання кожного туру ми зачитуємо і показуємо на екрані, з інтервалом приблизно в 1 хвилину між ними. Після зачитування всіх питань туру даємо 100 секунд на обдумування і остаточний запис всіх відповідей на листочок (невелика зміна в хронометражі лише в бліці). Після закінчення цих секунд листочок з відповідями ви повинні здати або підняти вгору над столом (показати, що ви нічого не записуєте більше). Ми оголошуємо правильні відповіді, підраховуємо бали і рухаємося до наступного туру.</li>
                    <li>У разі, якщо після 7 туру кілька команд набрали рівну кількість очок, вище у підсумковій табелі виявляється команда, яка була краще в останньому турі (якщо і там рівність, то дивимося 6 тур, 5 тур і т.д.).</li>
                    <li> Плата за участь у грі – 50 гривень з людини.</li>
                    <li>Початок всіх ігор в 20:00. Тривалість - приблизно 2.5 години. Під час гри можна і потрібно замовляти їжу і напої, щоб було ще веселіше! Під час #CleverRest в приміщеннях не курять. Це можна зробити ТІЛЬКИ на вулиці, протягом перерв між турами.</li>
                    <li>Звісно, що переможцям будуть вручені призи ( сертифікати ), також будуть такі номінації, як "Найвеселіша відповідь" та інші.</li>
                    <li>Користуватися будь-якими пристроями з метою пошуку відповіді на питання заборонено.</li>
                    <li>Учасники команди, покинувши ігрову зону під час гри, знову допускаються до участі тільки в перервах між раундами.</li>
                    <li>Організатори гри в особі ведучого вікторини, адміністрація громадського закладу, в якому проводиться вікторина, залишають за собою право дискваліфікувати команду, що порушує правила гри і норми громадського порядку..</li>
                </ul>
            </div>
        </div>

    </div>
</section>

