
<div id="dialog" title="Confirmation Required" style="display: none">
    Are you sure about this?
</div>​

@section Scripts
{)
    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Delete all items": function () {
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
