@model string
<section class="section mediaContentSection">
    <div class="container">
        <div class="columns">
            <div class="column" style="border: 1px solid red; background-color: black;">
                <form enctype="multipart/form-data" action="@Url.Action("Upload")" method="post">
                    <input type="file" name="files" multiple="multiple" />
                    <input type="hidden" name="entityId" value="@Model" /> 
                    <input type="submit" value="Зберегти"/>
                </form>
            </div>           
        </div>   
    </div>
</section>
