@model string
<section class="mediaContentSection">
    <div class="">
        <div class="columns">
            <div class="column is-cleverest">
                <form enctype="multipart/form-data" action="@Url.Action("Upload")" method="post">
                    <input type="file" name="files" multiple="multiple" />
                    <input type="hidden" name="entityId" value="@Model" /> 
                    <input type="submit" value="Зберегти"/>
                </form>
            </div>           
        </div>   
    </div>
</section>
