@model QuestionSelectorViewModel

@using (Html.BeginForm("Questions", "Question", FormMethod.Post, htmlAttributes: new { id = "questionSelectorForm" }))
{
<p>
    <div class="select">
        @Html.DropDownListFor(x => Model.SelectedGameId, Model.Games, htmlAttributes: new { id = "GameIdSelector", @class = "is-cleverest" })
    </div>
    <div class="select">
        @Html.DropDownListFor(x => Model.SelectedRoundNo, Model.Rounds, htmlAttributes: new { id = "RoundNoSelector", @class = "is-cleverest" })
    </div>
    <button type="submit" class="button is-cleverest">Шукати</button>
</p>
}

<section class="">
    <div class="">
        <div id="questionListPage">
            <div class="columns">
                <div class="column is-12">
                    <div class="question-editor">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

