@helper PageHeader(string title, string description)
{
    <div class="row">
        <div class="span12">
            <h3 class="title-bg">
                @title: <small>@description</small>
            </h3>
        </div>
    </div>
    <hr />
}

@helper HeroBlock(string title, string subtitle = null, string css = null)
{
    <section class="hero @css">
        <div class="hero-body">
            <div class="container">
                <p class="title">@title</p>
                <p class="subtitle">@subtitle</p>
            </div>
        </div>
    </section>
}