@model IEnumerable<Cleverest.Mvc.ViewModels.TeamViewModel>


@if (Model.Any())
{
    <div class="suggestion-wrapper">
        @foreach(var team in Model)
        {
            <div class="suggestion" data-id="@team.Id" data-url="@Url.Action("SuggestionDetails", "Team")">
                @team.Name
            </div>
        }     
    </div>
}