body > .container{
    max-width: 100%;
}

.photo-selected{
    border: 1px solid red;
}

.field-validation-error,
.field-validation-error span{
    color: red;
}

.ui-dialog-titlebar{
    display: none;
}

.suggestion{
    height: 40px;
    line-height: 40px;
    box-shadow: 0 0px 0px rgba(10, 10, 10, 0.1), 0 0 0 0px rgba(10, 10, 10, 0.1);
    max-height: 40px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.suggestion:hover{
    background-color: lightgreen;
    cursor: pointer;
}

.suggestion-wrapper{
    border: 1px solid lightgrey;
}

.media-block{
    /*border: 1px solid red;*/
    /*background-color: lightgray;*/
    width: 100%;
    max-width: 100%;
}