@{
    ViewBag.Title = "Index";
}


<h2>Інструктаж для новачків</h2>

<div>
    CleverRest - це найкраще розважально-хмільний захід міста, чого вже гріха таїти :)))))) Весь Житомир після роботи приходить великими компаніями відпочити після важкого дня, поспілкуватися з друзями і колегами, випити чого душа забажає, поїсти за чим скучили за день, а чому б і заодно пограти в гру.
    Збираєте на роботі / вдома / серед друзів / знайомих / улюблених собі дружну команду і приходите після роботи до нас в потрібний день до 20:00.
    Особливо готуватися до гри не потрібно. Папірці ми дамо, питання прочитаємо і покажемо, ручка напевно у кого-небудь хоч одна нехай буде з собою. З собою більше нічого брати не потрібно. Хоча стоп! Як це - не потрібно? ПОТРІБНО! Треба взяти відмінний настрій, усмішки, а все інше ми зробимо самі. Ну і грошей візьміть :) 50 гривень з чоловічка вартує внесок, а оцінивши розмір свого животика - на поїсти / попити теж візьміть кошти. Знадобиться. Мінімальних попередніх замовлень у нас ніколи не було і немає, тому можна замовляти собі стільки їжі і випивки, скільки хочеться.
    Ті, хто не ідеально бачить - можете взяти окуляри. Не завадить.

    CleverRest - це давно вже не просто вікторина в барі.
    Ми називаємо наш улюблений CleverRest - це псеводоінтелектуальна вечірка буднього дня, такий собі Hard Day's Night :) Для багатьох - це цілий маленький стиль життя в будні ввечері у великому місті. Стиль на один вечір, якщо завгодно :) Коли можна відволіктися від смутку, проблем, поспіху і пробок :) Прийти, поїсти, випити, трошки розім'яти і розвіяти мозок. Поспілкуватися з тим, з ким і на вихідних не особливо виходить. А в перипетіях гри ввечері на дві годинки - дуже добре заходить :)

    CleverRest - проект всевіковий. У CleverRest можуть грати від 7-8 років і до глибокої сивини .

    Отже, що повинна знати людина, яка приєднується до нас вперше. CleverRest - командна гра. Це заняття, що припускає дружнє невимушене спілкування, колективні спроби розгадати каверзні і часто смішні питання. Ідеальна кількість людей в команді - від 4 до 10. Менше - не завжди опиняєшся на коні, більше - може бути важко почути один одного. Словом, якщо є друзі, яких ви хочете взяти з собою - збирайте нову команду, придумуйте їй назву - і вперед до нас.

    Всі ігри завжди починаються в будні дні в 20:00. Є дві великі перерви, коли можна освіжитися і набратися нових сил.

    CleverRest завжди проходить у ресторанах, кафе, барах, клубах. А це означає, що свою їжу і напої туди проносити не можна, зате можна і потрібно замовляти всередині.

    Отже, ви зібрали команду, дали їй назву і хочете прийти пограти до нас. Що ж потрібно робити? У п'ятницю, що передує тижня ігор, рівно опівдні, на стіні цієї групи з'являється спеціальне повідомлення, дає старт реєстрації. У ньому публікується запис у коментарях, якого ви власне реєструєте свою команду.
    У цій формі потрібно вказати точну кількість осіб, яка прийде на гру (щоб посадити вас максимально комфортно), написати назву вашої команди.

    Сенс реєстрації полягає в тому, щоб скласти списки на гру. Ажіотаж на реєстрацію досить великий, саме тому важливо встигнути зареєструвати команду якомога швидше.
    За день перед грою, як пік реєстрації спадає, ми публікуємо готовий список команд на гру.
</div>