@{
    ViewBag.Title = "Index";
}

<div class="carousel">

    <div class="carousel-image">
        @if (false)
        {
            @*<img src="@Url.NoImageBig()" alt="@Sana.SimpleText("Product_NoImage")" class="no-image" />*@
        }
        else
        {
            <ul class="carousel-content">
                @for (int i = 0; i < 5; i++)
                {
                    <li class="carousel-item">
                        <img src="~/Content/Images/Home Banner.jpg" />
                    </li>
                }
            </ul>
        }
    </div>
    @if (true)
    {
        <div class="carousel-image-slider">
            <div class="carousel-centering">
                <span class="btn-prev-img"></span>
                <div class="carousel-cutter">
                    <div class="carousel-positioning">
                        <ul class="list-thumbs reset">
                            @for (int i = 0; i < 5; i++)
                            {
                                <li>
                                    <a class="hyp-thumbnail">
                                        <span class="thumbnail">
                                            <img src="~/Content/Images/Home Banner.jpg" />
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <span class="btn-next-img"></span>
            </div>
        </div>
    }

</div>

@*<div class="carousel">
    <div class="carousel-image-slider">
        <ul class="carousel-content">
            @for (int i = 0; i < 5; i++)
            {
                <li class="carousel-item">
                    <img src="~/Content/Images/Home Banner.jpg" data-zoom-image="~/Content/Images/Home Banner.jpg" />
                </li>
            }
        </ul>
    </div>
</div>

<div class="carousel">
    <div class="carousel-image-slider">
        <div class="carousel-centering">
            <span class="btn-prev-img"></span>
            <div class="carousel-cutter">
                <div class="carousel-positioning">
                    <ul class="list-thumbs reset carousel-content">
                        @for (int i = 0; i < 5; i++)
                        {
                            <li>
                                <a class="hyp-thumbnail">
                                    <span class="thumbnail">
                                        <a href="#"><img src="~/Content/Images/Home Banner.jpg" /></a>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <span class="btn-next-img"></span>
        </div>
    </div>
</div>*@

