@model Cleverest.Mvc.ViewModels.GamesListViewModel
@{
    ViewBag.Title = "Games";
}


@Shared.HeroBlock("Ігри", css: "is-success")


<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            @foreach (var game in Model.Games)
            {
                <div class="column is-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="is-4by3">
                                <img src="@game.ImageUrl"/>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <span class="tag is-medium is-info">@game.Title</span>
                                <span class="tag is-medium is-success">@game.Location</span>
                            </div>
                        </div>
                    </div>               
                </div>
            }
        </div>
    </div>
</section>



 
