@model List<Question>


<section class="section">
    <div class="container">
        @using (Html.BeginForm("Save", "Question", FormMethod.Post, htmlAttributes: "form-horizonal"))
        {
        }
    </div>
</section>