<form id="fileupload" method="POST" enctype="multipart/form-data">
    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
    <div class="row fileupload-buttonbar">
        <div class="col-lg-8">
            <div class="control is-grouped">
                <span class="button is-success fileinput-button">
                    <input type="file" name="files[]" multiple />
                    <span>Додати файли...</span>
                </span>
                <button type="submit" class="button is-primary start">
                    <span>Почати завантаження</span>
                </button>
                <button type="reset" class="button is-danger cancel">
                    <span>Відмініти завантаження</span>
                </button>
            </div>          
            <span class="fileupload-process"></span>
        </div>
    </div>
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>




<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="button is-success start" disabled>
                <span>Почати</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="button is-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Відмінити</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
