@model Cleverest.Mvc.ViewModels.Admin.GalleryViewModel

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            @foreach (var photo in Model.Photos)
            {
                <div class="column is-4 selectable">
                    <div class="card">
                        <div class="card-image">
                            <figure class="is-4by3">
                                <img src="@photo" />
                            </figure>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


